@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
}



body {
  background-color: #f6f6f6;
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #F4F9F9;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #161853;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__right{
  display: flex;
  flex-direction: column;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1.5rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
